<%= form_with(model: reservation, local: true) do |form| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label 'Facility Name' %>
    <%= select('reservation','facility_id', Facility.all.collect {|c| [ c.name, c.id ] }, { include_blank: true }) %>
  </div>

  <div class="field">
    <%= form.label :start %>
    <%= form.text_field :start_date %>
    <%= select('timeslot', 'start_time', Timeslot.all.collect {|c| [ c.time, c.time ] }, { include_blank: true }) %>
  </div>

  <div class="field">
    <%= form.label :end %>
    <%= form.text_field :end_date %>
    <%= select('timeslot','end_time', Timeslot.all.collect {|c| [ c.time, c.time ] }, { include_blank: true }) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
