<script>
$(function() {
    $('#calendar').fullCalendar({
        selectable: true,
        header: {
            left: 'month,agendaWeek,agendaDay',
            center: 'title',
            right: 'reservation prevYear,prev,next,nextYear'
        },
        footer: {
            center: '',
        },
        select: function(startDate, endDate) {
            window.location.href = "<%= reservation_new_url %>";
        },
        customButtons: {
            reservation: {
                text: 'New reservation',
                click: function() {
                    window.location.href = "<%= reservation_new_url %>";
                }
            }
        },
        events: 
        [
            <% @reservations.each do |reservation| %>
            {
                title  : "<%= reservation.facility.name %>",
                description: "<%= reservation.user.name %>",
                start  : "<%= reservation.start.strftime("%Y-%m-%dT%H:%M:%S") %>",
                end    : "<%= reservation.end.strftime("%Y-%m-%dT%H:%M:%S") %>",
                allDay : false
            },
            <% end %>
        ],
        eventRender: function(eventObj, $el) {
            $el.popover({
                title: "Reservation details",
                content: eventObj.title + ", reserved by " +eventObj.description,
                trigger: 'hover',
                placement: 'top',
                container: 'body'
            });
        }
    });
});
</script>
<div id='calendar'></div>