<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to 'Booking App', '/', id: 'logo' %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <% if logged_in? %>
                <%= link_to 'Logout', '/logout' %>
              <% else %>
                <%= link_to 'Log in', '/login' %>
              <% end %>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <div class="container-1">
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>